
html {
   font-size: 62.5%;
   box-sizing: border-box;
   scroll-padding-top: 0rem;
   scroll-behavior: smooth;
}
*, 
*:before,
*:after {
   box-sizing: inherit;
}

body{
   font-family: 'Roboto', sans-serif;
   background: rgb(175,224,103);
   background: linear-gradient(180deg, rgba(175,224,103,1) 0%, rgba(138,176,82,1) 12%, rgba(104,132,63,1) 29%, rgba(88,111,54,1) 53%, rgba(67,84,42,1) 70%, rgba(41,50,27,1) 150%);
   height: 100vh;
}

.vh-100{
   height: 100vh;
}


.detail-card{
   background-color: rgb(0, 0, 0, 0.6);
   width: 75%;
   margin: 0 auto;
   display: flex;
   justify-content: space-around;
   padding: 2rem;
   border: 2px solid rgb(46, 224, 240);
   border-radius: 10px;
}

.detail-card h1{
   text-transform: uppercase;
}

.detail-card h1 span{
   text-transform: lowercase;
}

.detail-text{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   color: white;
}

.detail-btn{
   display: flex;
   margin: 15px auto;
   padding: 9px;
   width: 10%;
   justify-content: center;
   align-items: center;
   background-color: #01b4c6;
   border: 1px solid transparent;
   border-radius: 10px;
   color: white;
   transition: 0.3s ease;
}

.detail-btn:hover{
   background-color: #007782;
   cursor: pointer;
}




.block {
	position: relative;
	margin: 300px auto 0;
	width: 430px;
	height: 552px;
	background: linear-gradient(0deg, #000, #272727);
}

.card{
   height: 480px;
   background-color: rgb(0, 0, 0, 0.6);
   margin: 10px;
   margin-bottom: 30px;
   border: 13px solid #ffea00ca;
   border-radius: 13px;
   margin-bottom: 1rem;
}


.card-flex{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   flex-wrap: wrap;
   gap: 1rem;
}


.card-content{
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
}

.card-title{
   display: flex;
   justify-content: space-between;
   margin: auto;
}

.card-about{
   display: flex;
   justify-content: center;
   margin: auto;
}

.card-contentA{
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   text-align: center;
}

.first-title{
   display: flex;
   width: 200px;
   justify-content: center;
   align-items: center;
   color: #f6f4e6;
   text-decoration: none;
}

.first-title h2{
   font-size: 18px;
   margin: 0;
   margin-top: 5px;
   margin-bottom: 5px;
}

.second-title{
   display: flex;
   align-items: center;
   width: 90px;
   justify-content: flex-end;
}

.second-title p{
   margin: 0;
   text-transform: uppercase;
   font-size: 10px;
   color: white;
   font-weight: bold;
}

.second-title p span{
   font-size: 24px;
}

.second-title button{
   background-color: #C90000;
   border: none;
   height: 25px;
   width: 25px;
   color: white;
   border-radius: 10px;
   font-weight: bold;
   margin-right: 5px;
}

.second-title button:hover{
   background-color: #A60000;
   cursor: pointer;
}

.text-center{
   text-align: center;
}

.card-img{
   display: flex;
   margin: auto;
}

.card-img img{
   width: 90%;
   margin: 0 auto;
   border: 5px solid;
}

.card-text{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 30%;
}

.text-in{
   display: flex;
   width: 70%;
   justify-content: space-around;
   background: rgb(244,225,55);
   background: linear-gradient(90deg, rgba(244,225,55,1) 25%, rgba(0,0,0,1) 150%);
   padding: 5px;
   border: 0 solid;
   border-radius: 20px;
   height: 36px;
   align-items: center;
}

.d-flex{
   display: flex;
   width: 400px;
   justify-content: space-evenly;
}

.d-flex2{
   display: flex;
   flex-wrap: wrap;
   height: 100%;
}




.form button:hover{
   cursor: pointer;
   background-color: #007782;
}

.form-div{
   display: flex;
   height: 100vh;
   background-color: rgb(0, 0, 0, 0.8);
   width: 100%;
}




