
html {
   font-size: 62.5%;
   box-sizing: border-box;
   scroll-padding-top: 0rem;
   scroll-behavior: smooth;
}
*, 
*:before,
*:after {
   box-sizing: inherit;
}

body{
   font-family: 'Roboto', sans-serif;
   background-image: url(./photos/Rick-and-Morty-Zoom-Backgrounds-Garage-1.webp);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: fixed;
}

.nav-bar{
   background-color: #01b4c6;
   flex-direction: row-reverse;
   margin: 5px;
   display: flex;
   justify-content: space-between;
   padding: 0 5px;
   align-items: center;
}

.nav-bar h1{
   color: #000000;
   font-size: 20px;
   margin-left: 1rem;
   text-decoration: none;
}


.search{
   display: flex;
   padding: 20px 0;
   justify-content: flex-end;
   align-items: center;
   margin-right: 10px;
}

.detail-card{
   background-color: rgb(0, 0, 0, 0.6);
   width: 75%;
   margin: 0 auto;
   display: flex;
   justify-content: space-around;
   padding: 2rem;
   border: 2px solid rgb(46, 224, 240);
   border-radius: 10px;
}

.detail-card h1{
   text-transform: uppercase;
}

.detail-card h1 span{
   text-transform: lowercase;
}

.detail-text{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   color: white;
}

.detail-btn{
   display: flex;
   margin: 15px auto;
   padding: 9px;
   width: 10%;
   justify-content: center;
   align-items: center;
   background-color: #01b4c6;
   border: 1px solid transparent;
   border-radius: 10px;
   color: white;
   transition: 0.3s ease;
}

.detail-btn:hover{
   background-color: #007782;
   cursor: pointer;
}

.search-btn{
   background-color: rgb(1, 132, 1);
   color: white;
   padding: 5px;
}

.search-btn:hover{
   cursor: pointer;
   background-color: rgb(0, 87, 0);
}

.active {
   color: rgb(135, 209, 75);
   font-weight: bold;
   text-decoration: none;
   font-size: 25px;
 }
 .disable {
   color: #f6f4e6;
   text-decoration: none;
   font-size: 25px;
 }


.block {
	position: relative;
	margin: 300px auto 0;
	width: 430px;
	height: 552px;
	background: linear-gradient(0deg, #000, #272727);
}

.card{
   height: 480px;
   width: 22%;
   background-color: white;
   margin: 30px auto;
   margin-bottom: 30px;
   border: 13px solid #16150b;
   border-radius: 13px;
   margin-bottom: 1rem;
}


.card-flex{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}


.card-content{
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
}

.card-title{
   display: flex;
   justify-content: space-between;
   margin: auto;
}

.card-about{
   display: flex;
   justify-content: center;
   margin: auto;
}

.card-contentA{
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   text-align: center;
}

.first-title{
   display: flex;
   width: 200px;
   justify-content: center;
   align-items: center;
}

.first-title h2{
   font-size: 18px;
   margin: 0;
   margin-top: 5px;
   margin-bottom: 5px;
}

.second-title{
   display: flex;
   align-items: center;
   width: 90px;
   justify-content: flex-end;
}

.second-title p{
   margin: 0;
   text-transform: uppercase;
   font-size: 10px;
   color: white;
   font-weight: bold;
}

.second-title p span{
   font-size: 24px;
}

.second-title button{
   background-color: #C90000;
   border: none;
   height: 25px;
   width: 25px;
   color: white;
   border-radius: 10px;
   font-weight: bold;
   margin-right: 5px;
}

.second-title button:hover{
   background-color: #A60000;
   cursor: pointer;
}

.text-center{
   text-align: center;
}

.card-img{
   display: flex;
   margin: auto;
}

.card-img img{
   width: 90%;
   margin: 0 auto;
   border: 5px solid;
}

.card-text{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 30%;
}

.text-in{
   display: flex;
   width: 70%;
   justify-content: space-around;
   background: rgb(244,225,55);
   background: linear-gradient(90deg, rgba(244,225,55,1) 25%, rgba(0,0,0,1) 150%);
   padding: 5px;
   border: 0 solid;
   border-radius: 20px;
   height: 36px;
   align-items: center;
}

.d-flex{
   display: flex;
   width: 200px;
   justify-content: space-evenly;
}




